/* Add CSS styling here */

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 50px;
}

#nav-title {
  font-size: 1.35rem;
}

#navigation {
  display: flex;
  border-collapse: collapse;
  width: 40rem;
}

.nav-link {
  font-size: 0.9rem;
  outline: 2px solid black;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;

  background-color: lightcoral;
  background-image: url(https://picsum.photos/1280/720?random=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

button {
  border: none;
  padding: 1.25rem;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
}

.project,
section {
  display: grid;
}

.project {
  width: auto;
  width: 400px;
  text-align: center;
}

section {
  margin: 0 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 3rem;
  margin: 2rem 0;
}

footer {
  padding: 5rem 10rem;
  text-align: center;
  background-color: lightblue;
}
