header {
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;

  background-color: lightcoral;
  background-image: url(https://picsum.photos/1280/720?random=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 0px 4px 4px #000;
}

.project,
section {
  display: grid;
}

.project {
  text-align: center;
  border: 2px solid lightgrey;
}

.project img {
  width: 100%;
  max-height: auto;
}

section {
  margin: 0 5rem;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  row-gap: 3rem;
  margin: 10rem 0;
}

section span {
  width: 15rem;
  margin: 0 auto;
  padding: 1rem;
}
