h1 {
  font-size: 3rem;
  text-align: center;
}

header {
  padding: 5rem 0;
}

img {
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

h2 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

section p {
  width: 20rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-align: justify;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }

  p {
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  img {
    width: 300px;
  }

  section {
    border: 3px coral solid;
    border-radius: 10px;
    padding: 1rem;
  }
}
